* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
.bars {
  font-size: 0.7em;
  text-align: right;
  background: black;
}
.bars span {
  margin-right: 10px;
  color: white;
}
.bars a:hover {
    background: grey;
}
.bars a {
    text-decoration: none;
    color: white;
}
.header {
  background-image: url(images/02.png);
  background-repeat: no-repeat;
  background-color: rgb(105, 105, 105, 0.2);
  background-blend-mode: multiply;
  color: white;
  background-size: cover;
  width: 100%;
  /* height: 15em; */
}
.logo {
  width: 10%;
  margin: 50%;
  

}
body {
  background-color: bisque;
}
.home {
  background: grey;
}
header h1 {
  margin: 0;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid black;
  font-size: 3em;
}
.header-nav li {
  display: inline;
  padding: 0 5%;
}
.header-nav a {
  padding: 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.header-nav a:hover {
  background-color: grey;
}
.header-nav {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.header-nav ul {
  margin: 0;
}
.content {
  margin: 1em;
  max-width: 500px;
  padding: 0 1.5em;
}
.item-name {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px;
}
.item-image {
  height: 250px;
}
.item {
  margin: 30px;
}
.item-details {
  display: flex;
  padding: 5px;
  align-items: center;
}
.items {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.item-price {
  flex-grow: 1;
}
.btn {
  background: #333;
  padding: 5px;
  border: 0;
  color: white;
}
.btn:hover {
  padding: 7px;
}
.item-image {
  max-width: 187.5px;
  min-width: 187.5px;
}
